* {
  border: none;
  border-radius: 0px;
  font-family: JetBrainsMono Nerd Font;
  font-size: 12px;
  font-style: normal;
  min-height: 0;
}


window#waybar {
  color: #f4d9e1;
  background: none;
}

#workspaces {
  padding: 0 2px;
  background: #ffffff;
  border-radius: 15px;
}

#workspaces button {
  color: #5b5b5b;
}

#workspaces button.active {
  color: #FA864B;
}

#tech {
  color: #FA864B;
  background: #FFFFFF;
  border-radius: 15px;
  margin-right: 10px;
}

#network,
#battery,
#pulseaudio {
  padding: 0 10px;
  color: #FA864B;
}

#custom-date {
  color: #D3869B;
}

#custom-power {
  color: #FFFFFF;
  margin: 0 10px 0 0;

}

#custom-power:hover {
  color: #ff0a4b;
  transition: .5s;
}

#clock {
  color: #FFFFFF;
  background: rgba(0, 0, 0, 0.5);
  padding: 0 15px;
  border-radius: 15px;
}


#battery {
  color: #FA864B;
}

#battery.good {
  color: green;
}

#battery.charging {
  color: #FA864B;
}

#battery.warning:not(.charging) {
  color: #f7768e;
}

#pulseaudio.muted {
  color: #928374;
}

.icon-playerctl {
  color: red;
}

#custom-playerlabel,
#custom-playerctl {
  font-size: 14px;
  background: transparent;
  padding: 0 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: normal;
  font-style: normal;
}

#window {
  background: #282828;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 16px;
  /*border-left: solid 1px #282738;*/
  /*border-right: solid 1px #282738;*/
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: normal;
  font-style: normal;
}
